<section class="jumbotron">
  <h1>All Orders</h1>
</section>

<section class="all-orders">
  <div class="row">
    <% current_user.orders.each_with_index do |order, index| %>
      <div class="order col-md-3">
        <div id="order-<%= index %>">
          <h2>Order Id: <%= link_to order.id, order_path(order) %> </h2>
          <p>Order Placed On: <%= order.created_at.to_date %></p>
          <p>Order Last Updated: <%= order.updated_at.to_date %></p>
          <p>Order Status: <%= order.order_status %></p>
          <p>Total Items Ordered: <%=order.total_order_items %></p>
          <h4>Total Order Price: <%= number_to_currency(order.total_order_price) %></h4>
            <% if order.order_status == "pending" %>
              <%= button_to 'Cancel Order', order, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
