<h1>Orders</h1>


<table>
  <thead>
    <tr>
      <th>Order status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_status %></td>
        <td>Items in Order: <%= @cart.total_item_count %></td>
        <td><%= link_to 'Show', profile_order_path(order) %></td>
        <!-- <td>< %= link_to 'Edit', edit_order_path(order) %></td> -->
        <td><%= link_to 'Cancel Order', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>


<h2> All Orders </h2>
<ul class="all-orders">
  <% current_user.orders.each_with_index do |order, index| %>
    <div id="order-<%= index %>">
      <li>Order Id: <%= link_to order.id, order_path(order) %> </li>
      <li>Order Placed On: <%= order.created_at.to_date %></li>
      <li>Order Last Updated: <%= order.updated_at.to_date %></li>
      <li>Order Status: <%= order.order_status %></li>
      <li>Total Items Ordered: <%=order.total_order_items %></li>
      <li>Total Order Price: <%= number_to_currency(order.total_order_price) %></li>
    </div>
  <% end %>
</ul>
