<h1> Order </h1>
  <p>Id: <%= @order.id %> </p>

  <ul>Order items:
    <% @order.order_items.each_with_index do |order_item, index| %>
      <div class="order-item-<%= index %>">
        <li>Name: <%= order_item.item.item_name %> </li>
        <li>Description: <%= order_item.item.description %> </li>
        <li>Item Price: <%= number_to_currency(order_item.price)%> </li>
        <li>Quantity: <%= order_item.quantity %> </li>
        <li>Subtotal: <%= number_to_currency(order_item.subtotal) %> </li>
        <li><img src="<%=order_item.item.image_url%>" </li>
      </div>
    <% end %>
  </ul>

  <div class="order-info">
    <p>Order Placed On: <%= @order.created_at.to_date %> </p>
    <p>Order Last Updated: <%= @order.updated_at.to_date %> </p>
    <p>Order Status: <%= @order.order_status %> </p>
    <p>Number of Items in Order: <%= @order.total_order_items %> </p>
    <p>Total Order Price: <%= number_to_currency(@order.total_order_price) %> </p>
</div>
