<section class="jumbotron">
  <i class="fas fa-mask"></i>
  <h1>Your Items</h1>
</section>

<section class="merchant-items">
  <h1><%= link_to "Add New Item", new_dashboard_item_path %></h1>

  <div class="row">
  <% @current_merchant.items.each do |item| %>
    <div class="item col-md-3">
      <div class="item-<%= item.id %>">
        <h2><%= item.item_name %></h2>
        <p>Item ID: <%= item.id %></p>
        <p>Total Inventory: <%= item.inventory %></p>
        <p>Price: <%= number_to_currency(item.price) %></p>
        <a><img id= "item-thumbnail-<%= item.id %>" src="<%=item.image_url%>" </a>
        <p><%= link_to "Edit This Item", edit_dashboard_item_path(item) %></p>
        <p><% if item.orders.length == 0 %>
          <%= link_to "Delete This Item", dashboard_item_path(item), method: :delete %>
        <% end %></p>
        <p><% if item.enabled %>
          <%= button_to "Deactivate", toggle_dashboard_item_path(item) %>
        <% else %>
          <%= button_to "Activate", toggle_dashboard_item_path(item) %>
        <% end %></p>
      </div>
    </div>
  <% end %>

  </div>
</section>
