<h1>My Dashboard</h1>

<%= @current_merchant.name %>
<%= @current_merchant.email %>
<%= @current_merchant.city %>
<%= @current_merchant.state %>
<%= @current_merchant.zipcode %>

<%= link_to "My Items", dashboard_items_path %>

<div class="pending-orders">
  <% @pending_orders.each do |order| %>
    <%= link_to order.id, dashboard_order_path(order) %>
    <% end %>
</div>
