
<% if @cart.total_item_count == 0 %>
  <h2> your cart is empty </h2>
<% else %>
  <% @items.each do |item| %>
  <ul>
    <li>Item Name: <%= item.item_name %></li>
    <li><%= item.image_url %></li>
    <li>Merchant: <%= item.merchant_name %></li>
    <li>Price: <%= number_to_currency(item.price) %></li>
    <li><%=item.item_name%> count: <%= @cart.count_of(item.id) %></li>
    <li><%=item.item_name%> total price:<%= number_to_currency(item.total_for_item) %></li>
  </ul>
  <%= link_to "Remove From Cart", cart_path(item_id: item.id), method: :delete %>
  <% end %>
  <h3>Cart Total: <%= number_to_currency(@items.sum {|item| item.price}) %></h3>
  <%= link_to "Empty My Cart", cart_path, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
