
<% if @cart.total_item_count == 0 %>
  <section class="jumbotron">
    <i class="fas fa-shopping-cart"></i>
    <h2> your cart is empty </h2>
  </section>
<% else %>
  <% @items.each do |item| %>
  <div class="cart_item">
    <p><img src="<%= item.image_url %>" alt="<%item.item_name%>"></p>
    <p>Item Name: <%= item.item_name %></p>
    <p>Merchant: <%= item.merchant_name %></p>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p>Item Count: <%= @cart.count_of(item.id) %></p>
    <p>Total Price: <%= number_to_currency(item.total_for_item) %></p>

  <div>
    <p>Quantity:</p>
    <div class="qty">
    <% if @cart.count_of(item.id) <= item.inventory %><div class="plus"><%= button_to "+", "cart/#{item.id}/add", class: "button" %></div>
      <div class="minus"><%= button_to "-", "cart/#{item.id}/subtract", class: "button" %></div>
      <% else %>
        <h4>Requested More than Available</h4>
      <% end %>
    </div>
  </div>

    <div class="button">
      <%= link_to "Remove From Cart", cart_path(item_id: item.id), method: :delete %>
    </div>
  </div>
  <% end %>

<div class="cart_total">
  <h3>Cart Total: <%= number_to_currency(@cart_total) %></h3>

  <div class="button">
    <%= link_to "Empty My Cart", cart_path, method: :delete, data: {confirm: "Are you sure?"} %>
  </div>

  <% if current_user %>
  <div class="button">
    <%= link_to "Check Out",  profile_orders_path, method: :post %>
  </div>
  <% else %>
    <h3>if you'd like to checkout, please login or register...</h3>
    <div class="button">
      <%= link_to "login", login_path %>
    </div>
    <div class="button">
    <%= link_to "register", register_path %>
    </div>
  <% end %>
</div>
<% end %>
