<section class="jumbotron">
  <h1>Dashboard Orders</h1>
</section>
<div class="col-md-3">
<h2>Purchaser Info:</h2>
<h4>Name: <%= @order.user.name %></h4>
<ul>
  <li><%= @order.user.address %></li>
  <li><%= @order.user.city %></li>
  <li><%= @order.user.state %></li>
  <li><%= @order.user.zipcode %></li>
</ul>

<h2>Items Purchased from you:</h2>
<% @order_items.each do |o_item| %>
  <% item = o_item.item %>
  <ul>
    <li>Item Name: <%= item.item_name %></li>
    <li><%= item.image_url %></li>
    <li>price: <%= number_to_currency(item.price) %></li>
    <li>quantity: <%= item.order_quantity(@order) %></li>
  </ul>
<% end %>
</div>
