<p id="notice"><%= notice %></p>

<h1>Items</h1>
<section class="statistics">

  <div id="most-popular">

  </div>

  <div id="least-popular">

  </div>
</section>

<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Image</th>
      <th>Qty in stock</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><% if item.enabled == true %></td>
        <td><%= link_to item.item_name, item_path(item) %></td>
        <td><a href='<%=item_path(item) %>'><img src="<%=item.image_url%>" </a>
        <td><%= item.inventory %></td>
        <td><%= number_to_currency(item.price) %></td>
        <td><%= item.description %></td>
        <td><%= item.merchant_name %></td>
        <!-- <td>< %= link_to 'Show', item %></td>
        <td>< %= link_to 'Edit', edit_item_path(item) %></td>
        <td>< %= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
