<section class="jumbotron">
  <i class="fas fa-mask"></i>
  <h1>Items</h1>
</section>

<section class="stats-container">
  <div class="most-popular">
    <h3>Most Popular Items</h3>
    <ul>
      <% @top_items.each do |item| %>
        <li><%= item.item_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="least-popular">
    <h3>Least Popular Items</h3>
    <ul>
      <% @bottom_items.each do |item| %>
        <li><%= item.item_name %></li>
      <% end %>
    </ul>
  </div>
</section>

<div class="row">
    <% @items.each do |item| %>
      <% if item.enabled == true %>
        <div class="item col-md-3">
        <h2><%= link_to item.item_name, item_path(item) %>:</h2>
        <h2><%= number_to_currency(item.price) %></h2>
        <a href='<%=item_path(item) %>'><img src="<%=item.image_url%>" </a>
        <br>
        <br>
        <h4>Quantity in Stock: <%= item.inventory %></h4>
        <br>
        <h5><%= item.description %></h5>
        <br>
        <h4>Merchant Name: <%= item.merchant_name %></h4>
        </div>
      <% end %>
    <% end %>
</div>
