
<div class="row">
  <div class="item-show-container">

    <h2>
      <%= @item.item_name %>
    </h2>

    <p>
      <img src="<%=@item.image_url%>">
    </p>

    <p>
      <strong>Quantity in Stock:</strong>
      <%= @item.inventory %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= number_to_currency(@item.price) %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @item.description %>
    </p>

    <p>
      <strong>Merchant:</strong>
      <%= @item.merchant_name %>
    </p>

    <%= button_to "Add Item to Cart", cart_path(item_id: @item.id) %>
  </div>
</div>
