<h1>Welcome!</h1>

<%= link_to "Homepage", root_path %>
<%= link_to "Items", items_path %>
<%= link_to "Merchants", merchants_path %>
<%= link_to "Shopping Cart", cart_path %>
<%= link_to "Login", login_path %>
<%= link_to "Register", register_path %>

<h2>Item Count: <%= @items.count %></h2>
