<section class="jumbotron">
  <i class="fas fa-users"></i>
  <h1>All Registered Users</h1>
</section>

<div class="row">
  <% @users.each do |user|%>
  <div class="col-md-3 admin_users ">
    <div id="user-<%= user.id %>">
      <i class="fas fa-user"></i>
      <h3><%= link_to user.name, admin_user_path(user.id) %></h3>
      <h5><%= user.created_at.to_date %><h5>
      <%if user.active == true %>
        <h4><%= button_to "disable", admin_user_path(user.id), method: :patch %></h4>
      <% else %>
        <h4><%= button_to "enable", admin_user_path(user.id), method: :patch %></h4>
      <% end %>
    </div>
  </div>
  <%end%>
</div>
