<h1>Welcome, <%= @user.email %></h1>

<div class="profile_info">
  <p>Name: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Address: <%= @user.address %></p>
  <p>City: <%= @user.city %></p>
  <p>State: <%= @user.state %></p>
  <p>Zipcode: <%= @user.zipcode %></p>
</div>

<%= link_to "Edit Profile", edit_admin_user_path(@user) %>
<%= link_to "Upgrade to Merchant", admin_user_path(@user, upgrade: true), :method => :put %>

<h2>Order History</h2>
<ul class="order-history">
  <% @user.orders.each_with_index do |order, index| %>
    <div id="order-<%= index %>">
      <li>Order: <%= link_to order.id, admin_order_path(order) %>,
       Status: <%= order.order_status %></li>
    </div>
  <% end %>
</ul>
