<section class="jumbotron">
  <i class="fas fa-user"></i>
  <h1>Welcome, <%= @user.email %></h1>
</section>

<div class="profile_info user_show">
  <h1>Name: <%= @user.name %></h1>
  <p>Email: <%= @user.email %></p>
  <p>Address: <%= @user.address %></p>
  <p>City: <%= @user.city %></p>
  <p>State: <%= @user.state %></p>
  <p>Zipcode: <%= @user.zipcode %></p>
</div>

<div class="buttons">
  <div class="admin_button">
    <%= link_to "Edit Profile", edit_admin_user_path(@user) %>
  </div>

  <div class="admin_button">
    <%= link_to "Upgrade to Merchant", admin_user_path(@user, upgrade: true), :method => :put %>
  </div>
</div>


<div class="admin_orders user_show">
  <h1>Order History</h1>
  <ul class="order-history">
    <% @user.orders.each_with_index do |order, index| %>
      <div id="order-<%= index %>">
        <p>Order: <%= link_to order.id, admin_order_path(order) %>,
         Status: <%= order.order_status %></p>
      </div>
    <% end %>
  </ul>
</div>
